# Odesílání poptávkového formuláře (https://resend.com)
# Bez těchto proměnných formulář vrátí uživateli hlášku s e-mailovým kontaktem.
RESEND_API_KEY=
POPTAVKA_FROM=web@tis-cr.eu
POPTAVKA_TO=info@tis-cr.eu
